 <h1>Smarter Wikipedia Demo</h1>
<p>Search when typing stops</p>
<input #term (keyup)="search(term.value)"/>
<!--<ul>
  <li *ngFor="let item of items | async">{{item}}</li>
</ul>-->

<p *ngFor="let item of items | async">
  <a href="{{ item.getLink() }}" target="_blank">{{ item.getTerm() }}</a><br/>
  {{ item.getSummary() | valueOrDefault:'(no summary)' }}
</p>